<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.group7_mapd711_assignment4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Group7_MAPD711_Assignment4">
        <activity
            android:name=".BookingInformationActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateBookingActivity"
            android:exported="false" />
        <activity
            android:name=".UserInformationActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateUserActivity"
            android:exported="false" />
        <activity
            android:name=".PayOptionsActivity"
            android:exported="false" />
        <activity
            android:name=".CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".GuestsActivity"
            android:exported="false" />
        <activity
            android:name=".CruiseTypesActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>